version: '3.7'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy:{{ nginx_proxy_version }}
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
{% for vol in _nginx_proxy_volumes %}
      - {{ vol }}
{% endfor %}
{% if nginx_proxy_default_host %}
    environment:
      - DEFAULT_HOST={{ nginx_proxy_default_host }}
{% endif %}
networks:
  default:
    name: {{ nginx_proxy_network_name }}
